/* Dashboard.vue styling */
.active-enrolled-container {
  content: "";
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}
.enrolled-container,
.active-container {
  width: 49%;
  float: left;
  margin-bottom: 20px;
}
.dashboard-wrapper {
  width: 100%;
}
@media screen and (max-width: 750px) {
  .active-container,
  .enrolled-container {
    width: 100%;
    float: inherit;
  }
  .divider-vertical {
    display: none;
  }
}
.divider-vertical {
  width: 1px;
  height: 100%;
  margin: 0;
  position: absolute;
  background: linear-gradient(transparent, rgb(51, 50, 48));
}
.divider-horizontal {
  position: relative;
  margin: 0 0 20px 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    transparent,
    rgb(51, 50, 48),
    transparent
  );
}


/* Dashboard.vue's components styling */
.container-completed-surveys {
  padding: 0 0 20px 0;
  margin-bottom: 50px;
}
.surveys-title {
  text-align: center;
  font-size: 1.7rem;
  padding: 0 0 15px 0;
  padding: 0 10px;
  margin-bottom: 10px;
}
h3 {
  margin: 0 10px;
}
.survey-card-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.error-case {
  text-align: center;
}

@media screen and (max-width: 320px) {
  .surveys-title {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 750px) {
  .divider {
    display: none
  }
}
