.container {
  padding: 0 0 20px 0;
}
.container-completed-surveys {
  padding: 0 0 20px 0;
  margin-bottom: 50px;
}
.surveys-title {
  text-align: center;
  font-size: 1.7rem;
  padding: 0 0 15px 0;
}
.survey-card-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.error-case {
  text-align: center;
}
