// Base unit
$unit: 8px;

// Spacing unit
$spacing1: 1 * $unit;
$spacing2: 2 * $unit;
$spacing3: 3 * $unit;
$spacing4: 4 * $unit;
$spacing5: 5 * $unit;
$spacing6: 6 * $unit;
$spacing7: 7 * $unit;
$spacing8: 8 * $unit;
$spacing9: 9 * $unit;
$spacing10: 10 * $unit;
$spacing11: 11 * $unit;
$spacing12: 12 * $unit;
$spacing13: 13 * $unit;
$spacing14: 14 * $unit;
$spacing15: 15 * $unit;
$spacing16: 16 * $unit;
$spacing17: 17 * $unit;
$spacing18: 18 * $unit;
$spacing19: 19 * $unit;
$spacing20: 20 * $unit;

// Font weight
$font-light: var(--font-light);
$font-regular: var(--font-regular);
$font-medium: var(--font-medium);
$font-bold: var(--font-bold);

// Theme color palette primary
$palette-primary-main: var(--v-primary-base);
$palette-primary-light: var(--v-primarylight-base);
$palette-primary-dark: var(--v-primarydarkk-base);

// Theme color palette secondary
$palette-secondary-main: var(--v-secondary-base);
$palette-secondary-light: var(--v-secondarylight-base);
$palette-secondary-dark: var(--v-secondarydark-base);

// Common color palette
$palette-common-white: #fff;
$palette-common-black: #000;


$light-text-secondary: rgba(0, 0, 0, 0.54);
$light-text-disabled: rgba(0, 0, 0, 0.38);
$light-text-hint: rgba(0, 0, 0, 0.38);

$light-divider: rgba(0, 0, 0, 0.12);

$light-background-paper: #f6f6f8;
$light-background-default: #fafafa;

$light-footer-background: #FAE596;
$light-footer-background: #92875e;

// Dark Color Palette
$dark-text-primary: #fff;
$dark-text-secondary: rgba(255, 255, 255, 0.7);
$dark-text-disabled: rgba(255, 255, 255, 0.5);
$dark-text-hint: rgba(255, 255, 255, 0.5);

$dark-divider: rgba(255, 255, 255, 0.12);

$dark-background-paper: #424242;
$dark-background-default: #303030;

// Rounded Border Radius
$rounded-small: 8px;
$rounded-medium: 12px;
$rounded-big: 20px;


//////////////////////////////////////////////////////////////////
// Landing page colors
// $light-background-color-gradient: linear-gradient(to right bottom, #ffa17a, #d2ad63, #9db56c, #69b58b, #3fb0ac) !important;
// $light-background-color-gradient: linear-gradient(to right bottom, #3fb0ac, #299d8f, #158973, #057657, #00633b) !important;
$light-background-color-gradient: linear-gradient(to right bottom, #f3eada, #c7c5a6, #94a278, #5a8254, #00633b) !important;
// $light-background-color-gradient: linear-gradient(to right bottom, #f5e482, #e4b75f, #cf8a46, #b65f34, #983428) !important;

//////////////////////////////////////////////////////////////////
// Text colors
$light-text-primary: #3a3939;
$light-error-orange: #c73a2b;

//////////////////////////////////////////////////////////////////
// Background colors
$light-creamy-white: #fcf5ea;
$light-whitish-background-color: #faf9f8;
$light-default-layout-background: #F3EADA;
$light-dark-green: #00633B;
$ligth-ligth-green: #7abe8f;
$ligth-dark-color: #3a3939;

//////////
$color0: #fcf5ea;
$color1: #00633B;
$color2: #f7f3ec;
$color3: #FFA17A;
$color4: #F5E482;
$color5: #983428;
